.form-gallery select {
  border: 1.5px solid #9bad65;
  background-color: transparent;
  width: 100%;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: #9bad65;
}
