.bg-home {
  background-image: linear-gradient(to bottom, #030d00, #3b583e);
}

.header-home {
  background-image: url('../../components/images/gallery-home/3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
  padding-left: 110px;
  padding-right: 110px;
}

.header-home a {
  background-image: linear-gradient(to right, #acd23d, #eeffbe);
  border-radius: 50px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  color: #030d00;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.header-home a:hover {
  background-image: linear-gradient(to right, #eeffbe, #acd23d);
  color: #030d00;
  transition: 1s;
}

.header-home h1 {
  padding-top: 250px;
  color: #eeffbe;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-shadow: 1px 1px #030d00;
}

.main-home-top {
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 110px;
  margin-right: 110px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 15px;
  border-top: 1px solid #dcff77;
  justify-items: center;
}

.card-news-top {
  background-color: #3b583e;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  /* border: 0.1px solid #dcff77; */
  -webkit-box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.75);
}

.card-news-top:hover {
  -webkit-box-shadow: 0px 0px 10px -4px #dcff77;
  -moz-box-shadow: 0px 0px 10px -4px #dcff77;
  box-shadow: 0px 0px 10px -4px #dcff77;
}

.card-news-top img {
  width: 100%;
  height: 140px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-news-top a {
  text-decoration: none;
}

.card-news-top h4 {
  color: #eeffbe;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.main-home-bottom {
  margin-top: 20px;
  margin-left: 130px;
  margin-right: 110px;
  padding-right: 20px;
  justify-items: center;
}

.card-news-bottom a {
  text-decoration: none;
}

.card-news-bottom h4 {
  color: #dcff77;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-top: 15px;
  padding-right: 15px;
}

.card-news-bottom h6 {
  color: #eeffbe;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-top: -20px;
}

.card-news-bottom p {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin-top: -10px;
}

.card-news-bottom {
  background-color: #3b583e;
  border-radius: 5px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.75);
}

.card-news-bottom:hover {
  -webkit-box-shadow: 0px 0px 10px -4px #dcff77;
  -moz-box-shadow: 0px 0px 10px -4px #dcff77;
  box-shadow: 0px 0px 10px -4px #dcff77;
}

.card-news-bottom img {
  float: left;
  width: 300px;
  height: 200px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 20px;
}

.title-news {
  margin: 10px;
  height: 200px;
}
